* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  background-color: #50646c;
  position: sticky;
  top: 0px;
}

.topicos_cabecalho {
  display: flex;
  justify-content: flex-start;
}

.item-cabeçalho {
  color: white;
  padding: 12px 24px;
}

.item-cabeçalho:first-of-type {
  background-color: #404c54;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  align-self: auto;
}

.avatar {
  height: 23px;
  width: 23;
  border-radius: 50%;
}

.margemicones {
  margin-top: 45%;
}

.item-cabeçalho:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.item-cabeçalho:first-of-type:hover,
.item-cabeçalho:last-of-type:hover {
  background-color: #d0cccc;
  color: black;
}

.containerNotificação {
  display: flex;
  justify-content: flex-start;
}

.notificacao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 17px;
  border-radius: 50%;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background-color: #4caf50;
  align-self: center;
}

.item-cabeçalho:hover .notificacao {
  color: white;
}

.corpo {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin: 1.5% auto;
}

.coluna-direita {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
}

.profile i {
  margin-right: 16px;
}

.profile hr {
  margin: 20px 0;
  width: 90%;
  height: 0.2px;
  border-width: 0;
  background-color: #D3D3D3;
}

h4 {
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.txtProfile {
  display: flex;
  justify-content: flex-start;
  margin: 7.5px 0px;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  width: 300px;
}

.dropdown {
  position: relative;
}

.features-menu {
  display: none;
}

.features-menu p {
  margin: 10px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.dropdown:hover .features-menu {
  display: flex;
  flex-direction: column;
  background: #FFF;
  position: absolute;
  top: 50px;
  left: 0px;
  box-shadow: 0 0 0.3em gray;
  width: 320px;
}

.secaoMy {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
}

.itemMy {
  padding: 8px 16px;
  background-color: #7d97a5;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: white;
}

.itemMy:hover {
  background-color: #cccccc;
  color: black;
  cursor: pointer;
}

.interesses {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
  width: 320px;
}

.interesseGrid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 15px;
  margin-bottom: 10px;
}

.itemGrid {
  padding: 0px 8px;
  color: white;
  margin-right: 2px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.coluna-meio {
  display: flex;
  flex-direction: column;
}

.aba-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
  width: 800px;
}

h3 {
  margin: 10px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #a5a5a5;
}

form {
  margin-left: 40px;
  margin-bottom: 10px;
  width: 850px;
  padding: 8px 16px;
  align-self: center;
}

input {
  width: 90%;
  height: 40px;
  padding: 8px 16px;
  border: 0.5px #a5a5a5 solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.botao {
  padding: 8px 12px;
  background-color: #607d8b;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
}

.postar {
  width: 90px;
}

.postar:hover {
  background-color: #cccccc;
  color: black;
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
  width: 800px;
}

.conteudo-post {
  margin: 16px;
}

.post-info {
  display: flex;
  justify-content: space-between;
}

.postador {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.texto-post {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  margin: 15px 0;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.foto-pequena {
  width: 275px;
  height: 180;
  margin: 0px 0px 16px 10%;
}

.reacoes {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
}

.like {
  width: 80px;
  margin-left: 0px;
}

.comment {
  width: 120px;
  background-color: #4d636f;
}

.like:hover {
  background-color: #cccccc;
  color: black;
  cursor: pointer;
}

.comment:hover {
  background-color: #cccccc;
  color: black;
  cursor: pointer;
}

.coluna-direita {
  display: flex;
  flex-direction: column;
}

.eventos {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.titulo {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0 0 0;
}

.dia {
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0px;
}
.botao-info{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfe5e8;
  width: 200px;
  margin-bottom: 5px;
}

.botao-info:hover{
  background-color: #cccccc;
  cursor: pointer;
}

.pedidoAmizade{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dfe5e8;
  width: 200px;
  margin-bottom: 5px;
}
.aceitar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #94cf96;
  height: 38px;
  color: white;
}
.aceitar:hover{
  background-color: #e0e0e0;
  color: #666666;
  cursor: pointer;
}
.recusar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #f88e86;
  color: white;
}
.recusar:hover{
  background-color: #e0e0e0;
  color: #666666;
  cursor: pointer;
}
.footer{
  display: flex;
  align-items: center;
  background-color: #435761;
  height: 80px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.powered{
  display: flex;
  align-items: center;
  background-color: #303e45;
  height: 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}