/*Alunos: Arthur Henrique Paulini Grasnievicz e Otavio Luiz Rebelatto*/
/* Tirar as margens padrão do navegador*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho: container para o cabeçalho, organizando seus elementos em space-between, position: sticky para ficar fixo na página. 
Topicos_Cabecalho: Container que fica dentro do cabecalho para separar os itens corretamente no space-between.
item-cabecalho: Itens do cabeçalho (ícones e textos) que ficarão no cabeçalho, com a cor deles sendo branca e possuindo um preenchimento de 12px por 24px.
item-cabeçalho:first-of-type: já que o primeiro item do cabeçalho possuí uma cor de fundo diferente e um preenchimento (padding) diferente foi criado esse elemento, nele será mudado a cor do fundo(background-color: #404c54), a fonte padrão será open sans e, caso não seja encontrada, será a sans-serif(font-family: 'Open Sans', sans-serif).
avatar: deixar um 'quadrado' de 23px por 23px e colocar suas bordas com uma curva de 50% para virar um círculo, que será usado para estilizar a imagem circular no canto superior direito.
margemicones: dar uma margem superior aos ícones para ficarem alinhados verticalmente.
*/
.cabecalho {
  display: flex;
  justify-content: space-between;
  background-color: #50646c;
  position: sticky;
  top: 0px;
}

.topicos_cabecalho {
  display: flex;
  justify-content: flex-start;
}

.item-cabeçalho {
  color: white;
  padding: 12px 24px;
}

.item-cabeçalho:first-of-type {
  background-color: #404c54;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  align-self: auto;
}

.avatar {
  height: 23px;
  width: 23;
  border-radius: 50%;
}

.margemicones {
  margin-top: 45%;
}

/*item-cabeçalho:hover: mudar a cor dos elementos para preto e do fundo para braco e deixar o mouse como pointer quando passar o mouse por cima(hover)
.item-cabeçalho:first-of-type:hover,.item-cabeçalho:last-of-type:hover: dar estilo diferente ao passar o mouse no primeiro e último elemento mudando cor dos elementos e do fundo
*/
.item-cabeçalho:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.item-cabeçalho:first-of-type:hover,
.item-cabeçalho:last-of-type:hover {
  background-color: #d0cccc;
  color: black;
}

.containerNotificação {
  display: flex;
  justify-content: flex-start;
}

.notificacao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 17px;
  border-radius: 50%;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background-color: #4caf50;
  align-self: center;
}

.item-cabeçalho:hover .notificacao {
  color: white;
}

/* Corpo: alinhar o corpo como space-around e alinhar os elementos no centro, além de deixar uma largura de 60% o valor da página.
coluna-direita: flex para alinhar elementos da direita.
profile: coluna do perfil, com borda curvada em 5px, uma sombra cinza e margem inferior de 30px.
profile i e profile hr: estilizar textos e hr.
h4: personalizar textos do h4 com margem de 10px por 0 fonte open sans e "peso" leve
txtProfile: modificar o texto na aba profile, dando margem a esquerda, usando a fonte open sans com tamanho de 15px
*/
.corpo {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 1.5% auto;
  align-self: center;
}

.coluna-direita {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
}

.profile i {
  margin-right: 16px;
}

.profile hr {
  margin: 20px 0;
  width: 90%;
  height: 0.2px;
  border-width: 0;
  background-color: #D3D3D3;
}

h4 {
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.txtProfile {
  display: flex;
  justify-content: flex-start;
  margin: 7.5px 0px;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  width: 300px;
}

/* dropdown: posição relativa, para o menu do dropdown
features-menu: sem display para quando o dropdown ter o mouse passado sobre ele dicar com display flex e posição absoluta, assim 'aparecendo' na tela do usuário
features-menu p: personalizar o p do features menu com fonte opens sans, 20px de tamanho, uma margem de 10px por 15px e com o peso da fonte "leve"
dropdown:hover .features-menu: quando passar o mouse pelo container dropdown, deixar o features-menu (que possuia display: none), com display: flex, sendo uma flexbox que irá conter os itens do dropdown
*/
.dropdown {
  position: relative;
}

.features-menu {
  display: none;
}

.features-menu p {
  margin: 10px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.dropdown:hover .features-menu {
  display: flex;
  flex-direction: column;
  background: #FFF;
  position: absolute;
  top: 50px;
  left: 0px;
  box-shadow: 0 0 0.3em gray;
  width: 320px;
}

/* secaoMy: container do lado esquerdo do corpo da página
itemMy: itens que estarão dentro da secaoMy, mudando a cor do fundo, fonte, tamanho e cor da fonte 
itemMy:hover: para quando passar o mouse sobre um itemMy, mudar o cor do fundo, do conteúdo e deixar o cursor como pointer
interesses/interesses-grid: container da aba dos interesses, com flex-wrap: wrap para "quebrar" a linha quando chegar no fim do container, border-radius para deixar a borda arredondadas
itemGrid: itens que vão estar no container com o tamanho de fonte, cor e margem dos itens
*/
.secaoMy {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
}

.itemMy {
  padding: 8px 16px;
  background-color: #7d97a5;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: white;
}

.itemMy:hover {
  background-color: #cccccc;
  color: black;
  cursor: pointer;
}

.interesses {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
  width: 320px;
}

.interesseGrid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 15px;
  margin-bottom: 10px;
}

.itemGrid {
  padding: 0px 8px;
  color: white;
  margin-right: 2px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
}

/* coluna-meio: coluna do meio possui display flex e distribuirá seus itens em uma coluna
aba-post: container que irá ter o local para realizar posts, distribuidos em colunas, com o conteúdo alinhado no começo (flex-start), sobre na caixa(box-shaddow)
h3: mudar textos da tag h3, com margem de 10px, e a fonte sendo segoe ui, com peso normal, tamanho de 16px e a cor #a5a5a5
form: para mudar a estilo do formulário, deixando-o com uma margem esquerda de 40px, e uma inferior de 10px, largura de 850px, preenchimento de 8px por 16px e se "auto alinhar" no centro
input: mudar o estilo da aba para inserir o texto, deixando a sua largura em 90%, sua fonte sendo a open sans com tamanho de 15px
*/
.coluna-meio {
  display: flex;
  flex-direction: column;
}

.aba-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
  width: 800px;
}

h3 {
  margin: 10px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #a5a5a5;
}

form {
  margin-left: 40px;
  margin-bottom: 10px;
  width: 850px;
  padding: 8px 16px;
  align-self: center;
}

input {
  width: 90%;
  height: 40px;
  padding: 8px 16px;
  border: 0.5px #a5a5a5 solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

/*botao: container para os botões presentes no site, com preenchimento de 8px por 12px, cor de fundo #607d8b, margem esquerda de 10px e margem inferior de 10px
postar: largura de 90px, para deixar a largura do botão postar nesse tamanho
postar:hover: cor de fundo #cccccc, cor preto e cursor como pointer quando passar por cima do botão
post: container que vai ter os posts feitos, com display: flex, distribuído em coluna alinhadas pelo começo, com largura de 800px e margem inferior de 30px
conteudo-post: conteúdo que irá ter no post, com margem de 16px
post-info: alinhar informações do post, como horário em que foi feito, usuário e avatar como display: flex alinhado em space-between(espaço entre eles)
postador: div que contém ícone de quem fez o post e o nome de quem postou
*/
.botao {
  padding: 8px 12px;
  background-color: #607d8b;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
}

.postar {
  width: 90px;
}

.postar:hover {
  background-color: #cccccc;
  color: black;
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
  width: 800px;
}

.conteudo-post {
  margin: 16px;
}

.post-info {
  display: flex;
  justify-content: space-between;
}

.postador {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

/*texto-post: texto do post, com fonte open sans de 15px, com peso leve e margem de 15px por 0px
foto: flex-box que vai alinhar as fotos no post, alinhado horizontalmente no centro e verticalmente no fim
foto-pequena: abas dos post que vão ter fotos pequenas, com largura de 275px, altura de 180px e margem de 0px 0px 16px 10%
reacoes: container que vai receber os botões de like e comment
like: mudar a largura da classe botao para 80px e margem a esquerda de 0px
comment: mudar a largura da classe botao para 120px, e cor de fundo #4d636f
like:hover: mudar a cor do fundo para #cccccc cor preta e cursor como pointer para quando passar sobre o botão like
comment:hover: mudar a cor do fundo para #cccccc cor preta e cursor como pointer para quando passar sobre o botão comment
*/
.texto-post {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  margin: 15px 0;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.foto-pequena {
  width: 275px;
  height: 180;
  margin: 0px 0px 16px 10%;
}

.reacoes {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
}

.like {
  width: 80px;
  margin-left: 0px;
}

.comment {
  width: 120px;
  background-color: #4d636f;
}

.like:hover {
  background-color: #cccccc;
  color: black;
  cursor: pointer;
}

.comment:hover {
  background-color: #cccccc;
  color: black;
  cursor: pointer;
}

/*coluna-direita: flex-box da coluna da direita que vai organizar seus itens em coluna
eventos: container dos eventos, organizando os items em coluna, alinhando os itens no centro, margem inferior de 30px, preenchimento de 10px por 15px
titulo: titulo da aba eventos, com fonte de 15px, da família open sans e margem superior de 10px
dia: texto do dia do evento, co fonte open sans e margem de 15px por 0pxs
botao-info: botao de info da aba eventos, centralizando seus itens, largura de 200px, margem inferior de 5px, cor de fundo #dfe5e8
botao-info:hover:  deixar a cor de fundo #cccccc e o cursor: pointer quando passar por cima do botao-info
*/
.coluna-direita {
  display: flex;
  flex-direction: column;
}

.eventos {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 0.3em gray;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.titulo {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0 0 0;
}

.dia {
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0px;
}

.botao-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfe5e8;
  width: 200px;
  margin-bottom: 5px;
}

.botao-info:hover {
  background-color: #cccccc;
  cursor: pointer;
}

/*pedidoAmizade: container que vai conter o pedido de amizade, alinhar os itens no centro e justificar eles non espaço entre eles, cor de fundo #dfe5e8, largura de 200px e margem inferior de 5px
aceitar: botão de aceitar o pedido de amizade, com largura de 50% e altura de 38px, cor de fundo #94cf96 e cor dos itens branca, alinhando os itens no centro
aceitar:hover: mudar cor do fundo para #e0e0e0, cor do conteúdo #666666 e o cursor como pointer
recusar: botão de recusar o pedido de amizade, com largura de 50% e altura de 100%, cor de fundo #f88e86 e cor dos itens branca, alinhando os itens no centro
recusar:hover: mudar cor do fundo para #e0e0e0, cor do conteúdo #666666 e o cursor como pointer
*/
.pedidoAmizade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dfe5e8;
  width: 200px;
  margin-bottom: 5px;
}

.aceitar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #94cf96;
  height: 38px;
  color: white;
}

.aceitar:hover {
  background-color: #e0e0e0;
  color: #666666;
  cursor: pointer;
}

.recusar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #f88e86;
  color: white;
}

.recusar:hover {
  background-color: #e0e0e0;
  color: #666666;
  cursor: pointer;
}

/*footer: rodapé com display flex, alinhado os itens no centro, com a cor do fundo #435761, cor branca, altura de 80px, fonte open sans de 18px
powered: aba que ficar sob o rodapé, com display flex, itens alinhados no centro, cor de fundo #303e45, altura de 50px, fonte open sans de 15px
*/
.footer {
  display: flex;
  align-items: center;
  background-color: #435761;
  height: 80px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.powered {
  display: flex;
  align-items: center;
  background-color: #303e45;
  height: 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}